<head>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>

<body class="content">
  <div class="center">
    <div class="left-justify">
      <%= link_to(content_tag(:i,nil,class: "fa fa-arrow-left"), decks_path) %>
    </div>

    <h2 class="inline"><%= @deck.name %> - <%= @cards.length %> cards</h2>
    <div class="inline">
      <%= link_to(content_tag(:i,nil,class: "fa fa-trash-o"), deck_path(@deck), method:
            :delete, confirm: 'Are you sure?') %>
    </div>
    <p><%= @deck.description %></p>

  <br><br>

  <ul class = "card-list">
    <% @cards.each_with_index do |card, index| %>

        <li class ="card">
          <div class="card-number">
            <%= index + 1 %>
          </div>
          <strong><%= card.name %></strong>
          <%= link_to(content_tag(:i,nil,class: "fa fa-copy"), copy_card_deck_card_path(@deck,card),
           method: :post)%>

          <%= link_to(content_tag(:i,nil,class: "fa fa-trash-o"), [card.deck, card],
          method: :delete, data: { confirm: 'Are you sure?' }) %>

          <br><br>
          <div class="left-justify">
            <%= card.description %>
          </div>
        </li>

    <% end %>
  </ul>



  <h4>Add a card to the deck</h4>
  <%= form_for([@deck, @card]) do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description, :cols => "80", :rows => "11" %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>


  </div>
</body>
